.lead {
    margin: 0 auto;
    margin-top: 56px;   
  }
  @media screen and (max-width: 1024px)  and (min-width: 768px) {
        
    .lead {
       margin-top: 48px;  
     }
    }

  @media screen and (max-width: 768px) and (min-width: 425px) {
     
    .lead {
       margin-top: 48px;  
     }
    }
    @media screen and (max-width: 425px) {
      
    .lead {
      margin-top: 48px;  
    }
  }