.lead {
    margin: 0 auto;
    margin-top: 53px;   
  }
  @media screen and (max-width: 1024px) {
        
    .lead {
       margin-top: 45px;  
     }
    }

  @media screen and (max-width: 768px) {
     
    .lead {
       margin-top: 42px;  
     }
    }
    @media screen and (max-width: 425px) {
      
    .lead {
      margin-top: 45px;  
    }
  }