.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  position: relative;
  text-align: center;
  z-index: 2;
  max-width: 360px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
