.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 19px; /* На 18 по pp не получалось */
}

@media screen and (max-width: 620px) {
  .footer__links {
    flex-direction: column;
    gap: 30px;
  }
}
