.lead__image {
    max-width: 100%;
    margin-top: 64px;
    object-fit: contain;
  }

  @media screen and (max-width: 1024px)  and (min-width: 768px) {       
    .lead__image {
      max-width: 100%;
      margin-top: 56px;
      object-fit: contain;
    }
  } 

  @media screen and (max-width: 768px) and (min-width: 425px) {
    .lead__image {
      max-width: 100%;
      margin-top: 56px;
      object-fit: contain;
    }
}
@media screen and (max-width: 425px) {       
    .lead__image {
      max-width: 100%;
      margin-top: 40px;
      object-fit: contain;
    }
}