.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-gap: 48px 40px;
    margin: 0 183px 80px;
  }

  @media screen and (max-width: 1024px) and (min-width: 769px) {
    .place {
      margin: 0 50px 62px;
      grid-template-columns: 440px 1fr; 
      grid-gap: 43px 29px;
    }
    .place:nth-of-type(3) {
      margin-bottom: 80px;
     }
     .place:nth-of-type(4) {
      margin-bottom: 80px;
     }
}
@media screen and (max-width: 768px) and (min-width: 426px) {
    .place {
      margin: 0 23px 39px;
      grid-gap: 44px 29px;
      grid-template-columns: 340px 1fr;
    }
}

@media screen and (max-width: 425px) {
    .place {
    grid-template-columns: 1fr;
    gap: 18px;
    margin: 0 auto 30px;
    }
    .place:nth-of-type(2) {
      margin-top: 61px;
    }
    .place:nth-of-type(3) {
      margin-top: 33px;
    }
    .place:nth-of-type(4) {
      margin-top: 36px;
    }
    .place:nth-of-type(5) {
      margin-top: 60px;
    }
}