.place__url-heading {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    align-self: end;
    text-transform: uppercase;
    margin: 0 0 12px;
  }